<div class="container">
<div class="jumbotron">
<H2>Lake Auburn Buoy</h2>
<h3>Data from 2013</h3></div></div>
	<div class="container">
<div id="graphdiv2"
  style="width:1000px; height:600px;"></div>
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv2"),
    "Auburn_2013buoy.csv", // path to CSV file
    {}          // options
  );
</script>